affine==2.4.0
aiosqlite==0.22.1
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
async-timeout==5.0.1
asyncpg==0.31.0
attrs==26.1.0
certifi==2026.5.20
click==8.4.0
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fastapi==0.136.1
filelock==3.29.0
fsspec==2026.4.0
geoai==0.0.0.0
GeoAlchemy2==0.20.0
geopandas==1.1.3
greenlet==3.5.1
h11==0.16.0
httptools==0.8.0
idna==3.16
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
pillow==12.2.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.29
pytz==2026.2
PyYAML==6.0.3
rasterio==1.4.4
shapely==2.1.2
six==1.17.0
SQLAlchemy==2.0.50
starlette==1.0.1
sympy==1.13.1
tomli==2.4.1
torch==2.5.1+cu121
torchvision==0.20.1+cu121
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.47.0
watchfiles==1.2.0
websockets==16.0
